<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--使用注解-->
    <context:annotation-config/>

    <!--指定属性配置文件路径-->
    <!--    <context:property-placeholder location="classpath:one.properties"/>-->


    <!--包扫描-->
    <!--    <context:component-scan base-package="scan">-->
    <!--        <context:include-filter type="regex" expression=".A*"/>-->
    <!--        <context:exclude-filter type="annotation" expression="scan.Af"/>-->
    <!--    </context:component-scan>-->

    <!--依赖注入-->
    <!--        <import resource="ioc.xml"/>-->

    <!--监听器-->
<!--    <import resource="linstner.xml"/>-->


    <!--基于注解的配置-->
    <!--    <import resource="annotation.xml"/>-->

    <!--切面-->
    <!--    <import resource="aop.xml"/>-->

    <!--事务-->
    <!--    <import resource="tm.xml"/>-->
<!--        <import resource="tm_listener.xml"/>-->
    <!--    <import resource="tm_annatation.xml"/>-->

    <!--数据访问-->
    <!--    <import resource="dao.xml"/>-->

    <!--数据绑定-->
        <import resource="binder.xml"/>


</beans>